/* 
 CSS Stylesheet for my personal page... 

 Created: Tue 19 Aug 2025 08:14 AM GMT
 Updated: Thy 21 Aug 2025 04.36 AM GMT
*/

/* links */

a:link{color:blue;text-decoration:none;}
a:hover{background-color:white;color:red;text-decoration:underline;}
a:active{color:orange;}
a:visited{color:purple;}

/* body */

body{font-family:arial,verdana,sans-serif;margin:1cm;}

/* multiple */

nav,footer{text-align:center;}
nav,header,main,footer{width:50%;margin:auto;padding:10px;}

/* header */

header{background-color:black;color:white;text-align:center;}

/* nav */

nav{border-radius:10px 10px 0px 0px;background-color:silver;}

nav>a:link{background-color:gray;padding:3px;border:3px solid black;}
nav>a:hover{background-color:white;padding:3px;border:3px solid red;}

/* main */

main{width:50%;margin:auto;background-color:rgba(0,0,0,0);border:1px solid black;}

/* footer */

footer{border-radius:0px 0px 10px 10px;background-color:gray;}

/* classes */

.clsSelected{background-color:silver;border:1px solid black;}
.clsPara{text-indent:1cm;}
.clsDateTime{border-radius:10px;background-color:white;color:red;font-style:italic;}
